Exercise 2.1 - Getting started with Python The goal of this exercise is to print text like that below to the screen based on variable values you define.

My name is Brianna and I give eating ice cream a score of 9 out of 10! My sleeping enjoyment rating is 8 / 10! Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %! For this exercise you should:

Create three variables: one integer value (whole number) for your ice cream rating, another integer for your sleeping rating, and a character string for your first name. Calculate the average of the two ratings. Store the result in a variable for your happiness. Find the data type of each of the variables you have defined. Are there any surprises? Reproduce your version of the example text using the print() function and the variables you have defined. Note that you may need to be careful combining text and numbers!

In [2]:
ice_cream_rating = 8
sleep_rating = 7
name = 'Kelly Perez'
print('My name is',
     name,
     'and I give eating ice cream a score of',
     ice_cream_rating,
     'out of 10!')
print('My sleep enjoyment rating is',
     sleep_rating,
     '/10!')

My name is Kelly Perez and I give eating ice cream a score of 8 out of 10!
My sleep enjoyment rating is 7 /10!

In [3]:
sum =  ice_cream_rating + sleep_rating 
happiness_rating = sum/2
print(happiness_rating)
happiness_percent = happiness_rating * 10 
happiness_percent = str(happiness_percent) + '%'
print('Based on the factors above, my happiness rating is',
     happiness_rating,
     'out of 10 or',
     happiness_percent,
     )

7.5
Based on the factors above, my happiness rating is 7.5 out of 10 or 75.0%

In [4]:
type(ice_cream_rating)

int

In [5]:
type(sleep_rating)

int

In [6]:
type(happiness_percent)

str

In [7]:
type(name)

str

In [8]:
type(happiness_rating)
#was not expecting this to be a float, thought it would be an integer

float

Create two lists for the station names and first years of operation for the stations in Group 1 in Table 2.5. Be sure to list the values in the order they appear in the table. Modify the lists you just created to add the values Group 2, again keeping them in the same order. Sort the two lists, sorting the first in alphabetical order and the second so that the most recent starting year is first Do you see any problems with how the lists have been sorted? Python has a function called zip() that might be helpful in solving the sorting issue. Search online to see whether you can find a way to use zip() to solve the problem with the two lists.

In [35]:
group1 = ["lighthouse", "Harmaja", "Suomenlinna aaltopoiju", "Kumpula",
               "Kaisaniemi"]
group1.append('Malmi airfield')
group1.append('Vuosaari harbour')
group1.append('Kaivopuisto')
group1_yrs = [2003, 1989, 2016, 2005, 1844]
print(group1)

['lighthouse', 'Harmaja', 'Suomenlinna aaltopoiju', 'Kumpula', 'Kaisaniemi', 'Malmi airfield', 'Vuosaari harbour', 'Kaivopuisto']

In [36]:
group1_yrs.append('1937')
group1_yrs.append('2012')
group1_yrs.append('1904')
print(group1_yrs)

[2003, 1989, 2016, 2005, 1844, '1937', '2012', '1904']

In [37]:
group1.sort()
print(group1)

['Harmaja', 'Kaisaniemi', 'Kaivopuisto', 'Kumpula', 'Malmi airfield', 'Suomenlinna aaltopoiju', 'Vuosaari harbour', 'lighthouse']

In [38]:
group1_yrs.sort(key = int)
group1_yrs.reverse()
print(group1_yrs)
#year and station name no longer correspond to eachother

[2016, '2012', 2005, 2003, 1989, '1937', '1904', 1844]

In [58]:
group1

('Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kumpula',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour',
 'lighthouse')

In [60]:
group1_yrs_sorted = [1989, 1844, 1904, 2005, 1937, 2016, 2012, 2003]

In [61]:
sorted_names_yrs = sorted(list(zip(group1, group1_yrs_sorted)))
print(sorted_names_yrs)

[('Harmaja', 1989), ('Kaisaniemi', 1844), ('Kaivopuisto', 1904), ('Kumpula', 2005), ('Malmi airfield', 1937), ('Suomenlinna aaltopoiju', 2016), ('Vuosaari harbour', 2012), ('lighthouse', 2003)]

In [66]:
month = ['January', 'February','March', 'April',
        'May', 'June', 'July', 'August', 'September', 'October', 
        'November', 'December']
temp = [-3.5, -4.5, -1, 4.0, 10.0, 15.0, 18.0, 16.0, 11.5, 6.0, 2.0, -1.5]

In [67]:
for i in range(len(month)):
    print('The average temperature in Helsinki in',
          month[i],
          'is',
          temp[i])

The average temperature in Helsinki in January is -3.5
The average temperature in Helsinki in February is -4.5
The average temperature in Helsinki in March is -1
The average temperature in Helsinki in April is 4.0
The average temperature in Helsinki in May is 10.0
The average temperature in Helsinki in June is 15.0
The average temperature in Helsinki in July is 18.0
The average temperature in Helsinki in August is 16.0
The average temperature in Helsinki in September is 11.5
The average temperature in Helsinki in October is 6.0
The average temperature in Helsinki in November is 2.0
The average temperature in Helsinki in December is -1.5

Exercise 2.4 - Batch processing files with a for loop
Batch processing is a common task in Python, where a set of data and/or files are analyzed one after another using the same script or program. In this exercise your goal is to produce a Python list of filenames that could be used to batch process the data they contain.

In [132]:
ls = []
stations = 'Station_'
txt = '.txt'
for i in range(21):
    print(stations, i, txt)

Station_ 0 .txt
Station_ 1 .txt
Station_ 2 .txt
Station_ 3 .txt
Station_ 4 .txt
Station_ 5 .txt
Station_ 6 .txt
Station_ 7 .txt
Station_ 8 .txt
Station_ 9 .txt
Station_ 10 .txt
Station_ 11 .txt
Station_ 12 .txt
Station_ 13 .txt
Station_ 14 .txt
Station_ 15 .txt
Station_ 16 .txt
Station_ 17 .txt
Station_ 18 .txt
Station_ 19 .txt
Station_ 20 .txt