Exercise 2.1 - Getting started with Python The goal of this exercise is to print text like that below to the screen based on variable values you define.

My name is Brianna and I give eating ice cream a score of 9 out of 10! My sleeping enjoyment rating is 8 / 10! Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %! For this exercise you should:

Create three variables: one integer value (whole number) for your ice cream rating, another integer for your sleeping rating, and a character string for your first name. Calculate the average of the two ratings. Store the result in a variable for your happiness. Find the data type of each of the variables you have defined. Are there any surprises? Reproduce your version of the example text using the print() function and the variables you have defined. Note that you may need to be careful combining text and numbers!

In [2]:
ice_cream_rating = 8
sleep_rating = 7
name = 'Kelly Perez'
print('My name is',
     name,
     'and I give eating ice cream a score of',
     ice_cream_rating,
     'out of 10!')
print('My sleep enjoyment rating is',
     sleep_rating,
     '/10!')

My name is Kelly Perez and I give eating ice cream a score of 8 out of 10!
My sleep enjoyment rating is 7 /10!

In [3]:
sum =  ice_cream_rating + sleep_rating 
happiness_rating = sum/2
print(happiness_rating)
happiness_percent = happiness_rating * 10 
happiness_percent = str(happiness_percent) + '%'
print('Based on the factors above, my happiness rating is',
     happiness_rating,
     'out of 10 or',
     happiness_percent,
     )

7.5
Based on the factors above, my happiness rating is 7.5 out of 10 or 75.0%

In [4]:
type(ice_cream_rating)

int

In [5]:
type(sleep_rating)

int

In [6]:
type(happiness_percent)

str

In [7]:
type(name)

str

In [8]:
type(happiness_rating)
#was not expecting this to be a float, thought it would be an integer

float

2.2 
Create two lists for the station names and first years of operation for the stations in Group 1 in Table 2.5. Be sure to list the values in the order they appear in the table. Modify the lists you just created to add the values Group 2, again keeping them in the same order. Sort the two lists, sorting the first in alphabetical order and the second so that the most recent starting year is first Do you see any problems with how the lists have been sorted? Python has a function called zip() that might be helpful in solving the sorting issue. Search online to see whether you can find a way to use zip() to solve the problem with the two lists.

In [35]:
group1 = ["lighthouse", "Harmaja", "Suomenlinna aaltopoiju", "Kumpula",
               "Kaisaniemi"]
group1.append('Malmi airfield')
group1.append('Vuosaari harbour')
group1.append('Kaivopuisto')
group1_yrs = [2003, 1989, 2016, 2005, 1844]
print(group1)

['lighthouse', 'Harmaja', 'Suomenlinna aaltopoiju', 'Kumpula', 'Kaisaniemi', 'Malmi airfield', 'Vuosaari harbour', 'Kaivopuisto']

In [36]:
group1_yrs.append('1937')
group1_yrs.append('2012')
group1_yrs.append('1904')
print(group1_yrs)

[2003, 1989, 2016, 2005, 1844, '1937', '2012', '1904']

In [37]:
group1.sort()
print(group1)

['Harmaja', 'Kaisaniemi', 'Kaivopuisto', 'Kumpula', 'Malmi airfield', 'Suomenlinna aaltopoiju', 'Vuosaari harbour', 'lighthouse']

In [38]:
group1_yrs.sort(key = int)
group1_yrs.reverse()
print(group1_yrs)
#year and station name no longer correspond to eachother

[2016, '2012', 2005, 2003, 1989, '1937', '1904', 1844]

In [58]:
group1

('Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kumpula',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour',
 'lighthouse')

In [60]:
group1_yrs_sorted = [1989, 1844, 1904, 2005, 1937, 2016, 2012, 2003]

In [ ]:
sorted_names_yrs = sorted(list(zip(group1, group1_yrs_sorted)))
print(sorted_names_yrs)

 Exercise 2.3 - Lists and index values
 
For this exercise you should use the data in Table 2.6 to:

Create two lists with the months and their average temperatures.
Use a print statement to produce output like that below, where the months and temperatures are selected using index values in the corresponding lists.
The average temperature in Helsinki in March is -1.0

In [66]:
month = ['January', 'February','March', 'April',
        'May', 'June', 'July', 'August', 'September', 'October', 
        'November', 'December']
temp = [-3.5, -4.5, -1, 4.0, 10.0, 15.0, 18.0, 16.0, 11.5, 6.0, 2.0, -1.5]

In [67]:
for i in range(len(month)):
    print('The average temperature in Helsinki in',
          month[i],
          'is',
          temp[i])

The average temperature in Helsinki in January is -3.5
The average temperature in Helsinki in February is -4.5
The average temperature in Helsinki in March is -1
The average temperature in Helsinki in April is 4.0
The average temperature in Helsinki in May is 10.0
The average temperature in Helsinki in June is 15.0
The average temperature in Helsinki in July is 18.0
The average temperature in Helsinki in August is 16.0
The average temperature in Helsinki in September is 11.5
The average temperature in Helsinki in October is 6.0
The average temperature in Helsinki in November is 2.0
The average temperature in Helsinki in December is -1.5

Exercise 2.4 - Batch processing files with a for loop
Batch processing is a common task in Python, where a set of data and/or files are analyzed one after another using the same script or program. In this exercise your goal is to produce a Python list of filenames that could be used to batch process the data they contain.

In [4]:
batch = []
for i in range(0,21,1):
    station_txt = f'Station_{i}.txt'
    batch.append(station_txt)
print(batch)

['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt', 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt', 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt', 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt', 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt', 'Station_20.txt']

Exercise 2.5 - Classifying temperatures

For this exercise you should:

Use a for loop and conditional statments (e.g., if, elif, and else) to sort the temperatures in the list into the lists associated with each category (see Table 2.7).
Hint: Create the empty lists before the start of the for loop.
Answer the following questions:
How many times was it cold in Helsinki in April 2013?
How many times was it comfortable?
Was it ever warm?

In [8]:
temperatures = [-5.4, 1.0, -1.3, -4.8, 3.9, 0.1, -4.4, 4.0, -2.2, -3.9, 4.4,
                -2.5, -4.6, 5.1, 2.1, -2.4, 1.9, -3.3, -4.8, 1.0, -0.8, -2.8,
                -0.1, -4.7, -5.6, 2.6, -2.7, -4.6, 3.4, -0.4, -0.9, 3.1, 2.4,
                1.6, 4.2, 3.5, 2.6, 3.1, 2.2, 1.8, 3.3, 1.6, 1.5, 4.7, 4.0,
                3.6, 4.9, 4.8, 5.3, 5.6, 4.1, 3.7, 7.6, 6.9, 5.1, 6.4, 3.8,
                4.0, 8.6, 4.1, 1.4, 8.9, 3.0, 1.6, 8.5, 4.7, 6.6, 8.1, 4.5,
                4.8, 11.3, 4.7, 5.2, 11.5, 6.2, 2.9, 4.3, 2.8, 2.8, 6.3, 2.6,
                -0.0, 7.3, 3.4, 4.7, 9.3, 6.4, 5.4, 7.6, 5.2]

In [23]:
cold = []
slippery = []
comfortable = []
warm = []
for temperature in temperatures:
    if temperature < -2:
        cold.append(temperature)
    elif temperature >= 2:
        warm.append(temperature)
    if (temperature >= -2) and (temperature < 2):
        slippery.append(temperature)
    if (temperature >= 2) and (temperature < 15):
        comfortable.append(temperature)

In [24]:
num_cold = len(cold)
print('It was cold', num_cold, 'times in Helsinki.')

It was cold 15 times in Helsinki.

In [27]:
num_warm = len(warm)
print('It was warm', num_warm, 'times in Helsinki.')

It was warm 59 times in Helsinki.

In [26]:
num_comfort = len(comfortable)
print('It was comfortable', num_comfort, 'times in Helsinki.')

It was comfortable 59 times in Helsinki.

2.6
Create a function to converts temperature in degrees Fahrenheit to degrees Celsius.
Be sure to include a docstring in the function definition.
Use the new function to convert the temperatures below to Celsius:
32 °F
68 °F
91 °F
-17 °F

In [40]:
temps = 32
def celsius_to_far(temps):
    return 9/5 * temps + 32
print(celsius_to_far(temps))

89.6

In [41]:
temps = 68
print(celsius_to_far(temps))

154.4

In [42]:
temps = 91
print(celsius_to_far(temps))

195.8

In [43]:
temps = -17
print(celsius_to_far(temps))

1.3999999999999986

2.7
This exercise uses the same logic presented in Exercise 2.5 to classify temperatures, but now using a function.

In this exercise you should:

Create a function that classifies temperatures based on Table 2.8.
The function should return the following values for the different categories
0: Cold
1: Slippery
2: Comfortable
3: Warm
Use the function to calculate the returned value the following temperatures:
+17 °C
+2 °C
+1.9 °C
-2 °C

In [46]:
temp_list = [17, 2, 1.9, -2]
for temps in temp_list:
    if temps < -2:
        print(0)
    elif temps >= -2 and temps < 2:
        print(1)
    elif temps >= 2 and temps < 15:
        print(2)
    else:
        print(3)

3
2
1
1